nav{
    background-color: blue;
    text-align: center;
    color: aliceblue;
    height:50px;
    display:flex;
    align-items:center;
    Justify-content:center;
}
ul{
    display:flex;
}
li{
    text-decoration:none;
    list-style:none;
    margine:10px;
}
